@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

/* @font-face {
  font-family: "Roxie Rossa";
  src: url("https://db.onlinewebfonts.com/t/7b529b0b1b09edaa3ec964238d73afe3.eot");
  src:
    url("https://db.onlinewebfonts.com/t/7b529b0b1b09edaa3ec964238d73afe3.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7b529b0b1b09edaa3ec964238d73afe3.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/7b529b0b1b09edaa3ec964238d73afe3.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/7b529b0b1b09edaa3ec964238d73afe3.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/7b529b0b1b09edaa3ec964238d73afe3.svg#Roxie Rossa")
      format("svg");
} */

.cinzel-500 {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-rossa {
  /* font-family: "Roxie Rossa"; */
  font-family: "Cinzel", serif;
}

:root {
  --text-color: #333;
  --bg-color: #fff;
  --accent-color: #007bff;
  --theme-color: #f5f5f5;
}

.dark-theme {
  --text-color: #fff;
  --bg-color: #333;
}

/* .slick_slide_content img {
  border-radius: 16px;
  height: 408px;
  margin: 0 auto;
  object-fit: cover;
}

.slick-center + .slick-slide {
  margin-top: 40px;
}
.slick-center + .slick-slide + .slick-slide {
  margin-top: 80px;
}

.slick-slide:has(+ .slick-center) {
  margin-top: 40px;
}

.slick-slide:has(+ * + .slick-center) {
  margin-top: 80px;
}
.slick-slide:has(+ * + * + .slick-center) {
  margin-top: 120px;
}

.slick-center {
  margin-top: 0px;
}

.slick-slide {
  transition: margin 0.5s; 
} */

.slick-slide {
  padding: 0 10px;
}

/* ////////   product card css start */

.productContent .marketPrice {
  text-decoration-line: line-through;
  text-decoration-color: gray;
  color: gray;
}

/* ////////   product card css end */

/* sidebar css */

.openBar {
  /* position:absolute ; */
  /* left:0% ; */
  bottom: 6px;
  /* border: none; */
  /* background-color: #f5f5f5; */
  color: black;
  /* border-radius:0px 0px 48px 48px ; */
  width: 250px;
  transition: all 0.5s ease-in-out;
  z-index: 501;
  transform: translateX(0%);
}

.closeBar {
  position: relative;
  /* border: none; */

  /* border-radius:48px 48px 0px 0px ; */
  /* width:50px; */
  transition: all 0.5s ease-in-out;
  /* transform: translateX(-100%); */
  width: 60px;

  /* z-index: 501; */
}

/* sidebar css  */
.dropdown {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 62em) {
  .dropdown {
    overflow: visible;
  }
}
.dropdown__list {
  --primary-btn_bd-cr: white;
  --primary-btn_cr: var(--gray-9);
  --primary-btn_bd-cr_hov: #f2f2f2;
  --primary-btn_wh: 100%;
  --primary-btn_pg-ie: 2em;
  width: 100%;
  max-height: 0;
  transition: 180ms ease-in;
  opacity: 0;
  visibility: hidden;
  list-style: none;
  border: 3px solid var(--purple-7);
}
@media screen and (max-width: 62em) {
  .dropdown__list {
    /* position: absolute; */
    /* overflow: hidden; */
    border: 2px solid var(--purple-7);
    border-top: 0;
    border-radius: 0 0 var(--radius-2) var(--radius-2);
  }
}
.dropdown__btn {
  --primary-btn_wh: 100%;
}
.dropdown__btn.active:focus {
  background-color: var(--purple-7);
}
.dropdown__list.active {
  opacity: 1;
  visibility: visible;
  max-height: 10em;
}

/* Add this custom class to your tailwind config under extend > backgroundImage */
.four_zero_four_bg {
  @apply bg-[url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif')] h-96 bg-center bg-no-repeat bg-cover;
}

.page_404 {
  @apply py-10 bg-white font-serif;
}

.content_box_404 {
  @apply mt-[-50px];
}

.link_404 {
  @apply text-white py-2 px-4 bg-green-600 mt-5 inline-block;
}
